body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}

#title_and_details {
    text-align: center;
}

#title_and_details img {
    border-radius: 20px;
}