body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}

#main_text h1 {
    text-align: center;
}
#main_text img {
    display: block;
    margin: auto;
    border-radius: 20px;
}