body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}
p {
    font-size: large;
}
a {
    font-size: large;
}

fieldset {
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
}
legend {
    margin: 0;
    background: blue;
}

#title_and_details{
    text-align: center;
}